//カラー
$mainColor : #b3f1f3;
// $mainColor : #1a252b;
$mainColor2 : #24353d;
$subColor: #ffffff;
$pointColor: #ffe887;
$pointColor2 :#92efff;

//フォント
$Eufont :'Rubik', sans-serif;
$jpFont: 'Noto Sans JP', sans-serif;

$fontColor: #44476a;




